# Петров Сергей

# Предподготовка

## Импорт

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

import numpy.ma as ma
from itertools import combinations

r_state = 42

In [56]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score

In [57]:
df = pd.read_csv('adult.csv')

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

## Численные колонки

In [59]:
num_cols = list(df.select_dtypes(include=np.number).columns)
df[num_cols].describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

## Категорилаьные колонки

In [60]:
cat_cols = list(df.drop(num_cols + ['income'], axis=1).columns)
cat_cols

['workclass',
 'education',
 'marital.status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native.country']

In [61]:
for cat in cat_cols:
    print(cat, len(df[cat].unique()))

workclass 9
education 16
marital.status 7
occupation 15
relationship 6
race 5
sex 2
native.country 42

## One Hot Endcoding

In [62]:
to_ohe =['education','native.country','occupation']

In [63]:
enc = OneHotEncoder()

In [64]:
encoded = enc.fit_transform(df[to_ohe]).toarray()

In [65]:
encoded.shape

(32561, 73)

In [66]:
df.shape

(32561, 15)

In [67]:
encoded_names = list(enc.get_feature_names_out(to_ohe))
encoded_names

['education_10th',
 'education_11th',
 'education_12th',
 'education_1st-4th',
 'education_5th-6th',
 'education_7th-8th',
 'education_9th',
 'education_Assoc-acdm',
 'education_Assoc-voc',
 'education_Bachelors',
 'education_Doctorate',
 'education_HS-grad',
 'education_Masters',
 'education_Preschool',
 'education_Prof-school',
 'education_Some-college',
 'native.country_?',
 'native.country_Cambodia',
 'native.country_Canada',
 'native.country_China',
 'native.country_Columbia',
 'native.country_Cuba',
 'native.country_Dominican-Republic',
 'native.country_Ecuador',
 'native.country_El-Salvador',
 'native.country_England',
 'native.country_France',
 'native.country_Germany',
 'native.country_Greece',
 'native.country_Guatemala',
 'native.country_Haiti',
 'native.country_Holand-Netherlands',
 'native.country_Honduras',
 'native.country_Hong',
 'native.country_Hungary',
 'native.country_India',
 'native.country_Iran',
 'native.country_Ireland',
 'native.country_Italy',
 'native.country_Jamaica',
 'native.country_Japan',
 'native.country_Laos',
 'native.country_Mexico',
 'native.country_Nicaragua',
 'native.country_Outlying-US(Guam-USVI-etc)',
 'native.country_Peru',
 'native.country_Philippines',
 'native.country_Poland',
 'native.country_Portugal',
 'native.country_Puerto-Rico',
 'native.country_Scotland',
 'native.country_South',
 'native.country_Taiwan',
 'native.country_Thailand',
 'native.country_Trinadad&Tobago',
 'native.country_United-States',
 'native.country_Vietnam',
 'native.country_Yugoslavia',
 'occupation_?',
 'occupation_Adm-clerical',
 'occupation_Armed-Forces',
 'occupation_Craft-repair',
 'occupation_Exec-managerial',
 'occupation_Farming-fishing',
 'occupation_Handlers-cleaners',
 'occupation_Machine-op-inspct',
 'occupation_Other-service',
 'occupation_Priv-house-serv',
 'occupation_Prof-specialty',
 'occupation_Protective-serv',
 'occupation_Sales',
 'occupation_Tech-support',
 'occupation_Transport-moving']

In [68]:
for i in range(len(encoded_names)):
    df[encoded_names[i]] = encoded[:,i]

In [69]:
cat_cols = [col for col in cat_cols if col not in to_ohe]

In [70]:
cat_cols += encoded_names

In [71]:
cat_cols

['workclass',
 'marital.status',
 'relationship',
 'race',
 'sex',
 'education_10th',
 'education_11th',
 'education_12th',
 'education_1st-4th',
 'education_5th-6th',
 'education_7th-8th',
 'education_9th',
 'education_Assoc-acdm',
 'education_Assoc-voc',
 'education_Bachelors',
 'education_Doctorate',
 'education_HS-grad',
 'education_Masters',
 'education_Preschool',
 'education_Prof-school',
 'education_Some-college',
 'native.country_?',
 'native.country_Cambodia',
 'native.country_Canada',
 'native.country_China',
 'native.country_Columbia',
 'native.country_Cuba',
 'native.country_Dominican-Republic',
 'native.country_Ecuador',
 'native.country_El-Salvador',
 'native.country_England',
 'native.country_France',
 'native.country_Germany',
 'native.country_Greece',
 'native.country_Guatemala',
 'native.country_Haiti',
 'native.country_Holand-Netherlands',
 'native.country_Honduras',
 'native.country_Hong',
 'native.country_Hungary',
 'native.country_India',
 'native.country_Iran',
 'native.country_Ireland',
 'native.country_Italy',
 'native.country_Jamaica',
 'native.country_Japan',
 'native.country_Laos',
 'native.country_Mexico',
 'native.country_Nicaragua',
 'native.country_Outlying-US(Guam-USVI-etc)',
 'native.country_Peru',
 'native.country_Philippines',
 'native.country_Poland',
 'native.country_Portugal',
 'native.country_Puerto-Rico',
 'native.country_Scotland',
 'native.country_South',
 'native.country_Taiwan',
 'native.country_Thailand',
 'native.country_Trinadad&Tobago',
 'native.country_United-States',
 'native.country_Vietnam',
 'native.country_Yugoslavia',
 'occupation_?',
 'occupation_Adm-clerical',
 'occupation_Armed-Forces',
 'occupation_Craft-repair',
 'occupation_Exec-managerial',
 'occupation_Farming-fishing',
 'occupation_Handlers-cleaners',
 'occupation_Machine-op-inspct',
 'occupation_Other-service',
 'occupation_Priv-house-serv',
 'occupation_Prof-specialty',
 'occupation_Protective-serv',
 'occupation_Sales',
 'occupation_Tech-support',
 'occupation_Transport-moving']

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 88 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   age                                        32561 non-null  int64
 1   workclass                                  32561 non-null  object
 2   fnlwgt                                     32561 non-null  int64
 3   education                                  32561 non-null  object
 4   education.num                              32561 non-null  int64
 5   marital.status                             32561 non-null  object
 6   occupation                                 32561 non-null  object
 7   relationship                               32561 non-null  object
 8   race                                       32561 non-null  object
 9   sex                                        32561 non-null  object
 10  capital.gain                               32561 non-null  int64
 11  capital.loss                               32561 non-null  int64
 12  hours.per.week                             32561 non-null  int64
 13  native.country                             32561 non-null  object
 14  income                                     32561 non-null  object
 15  education_10th                             32561 non-null  float64
 16  education_11th                             32561 non-null  float64
 17  education_12th                             32561 non-null  float64
 18  education_1st-4th                          32561 non-null  float64
 19  education_5th-6th                          32561 non-null  float64
 20  education_7th-8th                          32561 non-null  float64
 21  education_9th                              32561 non-null  float64
 22  education_Assoc-acdm                       32561 non-null  float64
 23  education_Assoc-voc                        32561 non-null  float64
 24  education_Bachelors                        32561 non-null  float64
 25  education_Doctorate                        32561 non-null  float64
 26  education_HS-grad                          32561 non-null  float64
 27  education_Masters                          32561 non-null  float64
 28  education_Preschool                        32561 non-null  float64
 29  education_Prof-school                      32561 non-null  float64
 30  education_Some-college                     32561 non-null  float64
 31  native.country_?                           32561 non-null  float64
 32  native.country_Cambodia                    32561 non-null  float64
 33  native.country_Canada                      32561 non-null  float64
 34  native.country_China                       32561 non-null  float64
 35  native.country_Columbia                    32561 non-null  float64
 36  native.country_Cuba                        32561 non-null  float64
 37  native.country_Dominican-Republic          32561 non-null  float64
 38  native.country_Ecuador                     32561 non-null  float64
 39  native.country_El-Salvador                 32561 non-null  float64
 40  native.country_England                     32561 non-null  float64
 41  native.country_France                      32561 non-null  float64
 42  native.country_Germany                     32561 non-null  float64
 43  native.country_Greece                      32561 non-null  float64
 44  native.country_Guatemala                   32561 non-null  float64
 45  native.country_Haiti                       32561 non-null  float64
 46  native.country_Holand-Netherlands          32561 non-null  float64
 47  native.country_Honduras                    32561 non-null  float64
 48  native.country_Hong                        32561 non-null  float64
 49  native.country_Hungary                     32561 non-null  float64
 50  native.country_India                       32561 non-null  float64
 51  native.country_Iran                        32561 non-null  float64
 52  native.country_Ireland                     32561 non-null  float64
 53  native.country_Italy                       32561 non-null  float64
 54  native.country_Jamaica                     32561 non-null  float64
 55  native.country_Japan                       32561 non-null  float64
 56  native.country_Laos                        32561 non-null  float64
 57  native.country_Mexico                      32561 non-null  float64
 58  native.country_Nicaragua                   32561 non-null  float64
 59  native.country_Outlying-US(Guam-USVI-etc)  32561 non-null  float64
 60  native.country_Peru                        32561 non-null  float64
 61  native.country_Philippines                 32561 non-null  float64
 62  native.country_Poland                      32561 non-null  float64
 63  native.country_Portugal                    32561 non-null  float64
 64  native.country_Puerto-Rico                 32561 non-null  float64
 65  native.country_Scotland                    32561 non-null  float64
 66  native.country_South                       32561 non-null  float64
 67  native.country_Taiwan                      32561 non-null  float64
 68  native.country_Thailand                    32561 non-null  float64
 69  native.country_Trinadad&Tobago             32561 non-null  float64
 70  native.country_United-States               32561 non-null  float64
 71  native.country_Vietnam                     32561 non-null  float64
 72  native.country_Yugoslavia                  32561 non-null  float64
 73  occupation_?                               32561 non-null  float64
 74  occupation_Adm-clerical                    32561 non-null  float64
 75  occupation_Armed-Forces                    32561 non-null  float64
 76  occupation_Craft-repair                    32561 non-null  float64
 77  occupation_Exec-managerial                 32561 non-null  float64
 78  occupation_Farming-fishing                 32561 non-null  float64
 79  occupation_Handlers-cleaners               32561 non-null  float64
 80  occupation_Machine-op-inspct               32561 non-null  float64
 81  occupation_Other-service                   32561 non-null  float64
 82  occupation_Priv-house-serv                 32561 non-null  float64
 83  occupation_Prof-specialty                  32561 non-null  float64
 84  occupation_Protective-serv                 32561 non-null  float64
 85  occupation_Sales                           32561 non-null  float64
 86  occupation_Tech-support                    32561 non-null  float64
 87  occupation_Transport-moving                32561 non-null  float64
dtypes: float64(73), int64(6), object(9)
memory usage: 21.9+ MB

## Финальная обработка

In [73]:
df['income'] = (df['income'] == '>50K').astype(int)

In [74]:
df['income']

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    0
32558    1
32559    0
32560    0
Name: income, Length: 32561, dtype: int32

In [75]:
train_df, test_df = train_test_split(df,  test_size=0.25, random_state=r_state)

In [76]:
X_train = train_df[num_cols + cat_cols]
X_test = test_df[num_cols + cat_cols]

y_train = train_df['income'].to_numpy(dtype = int)
y_test = test_df['income'].to_numpy(dtype = int)

In [77]:
np.unique(y_test)

array([0, 1])

# №1

In [78]:
def entropy(p):
    try:
        return -p * np.log2(p) - (1-p) * np.log2(1-p)
    except:
        return 1

In [79]:
def gini_impurity(p):
    return 1 - (p**2 + (1-p)**2)

In [80]:
def gini_impurity_linear(p):
    return 1 - (p + (1-p))

In [81]:
def best_continious_split(values, targets, criterion):
    sorted_pairs = sorted(list(zip(values, targets)), key = lambda x: x[0])
    
    n = len(sorted_pairs)
    p = sum(targets) / n
    node_criterion = criterion(p)
    
    best_criterion = node_criterion
    best_split = None
    
    ones = 0
    total_ones = sum(targets)
    
    for i in range(1, len(sorted_pairs)):
        ones += sorted_pairs[i-1][1]
        
        if(sorted_pairs[i-1][0] == sorted_pairs[i][0]):
            continue
        split_val = (sorted_pairs[i-1][0] + sorted_pairs[i][0]) / 2
        
        p_left = ones / i
        p_right = (total_ones - ones) / (n-i)
        
        split_criterion = i / n * criterion(p_left) + (n-i) / n * criterion(p_right)
        
        if split_criterion < best_criterion:
            best_criterion = split_criterion
            best_split = split_val

    
    return (best_split, best_criterion)

In [82]:
best_continious_split(X_train['age'], y_train, gini_impurity)

(30.5, 0.3360510089306659)

In [83]:
def best_categorical_split(values, targets, criterion, plot=False):
    all_comb = []
    uniq = list(np.unique(values))
    
    for i in range(1, int(np.ceil(len(uniq)/2)) + 1):
        all_comb += list(combinations(uniq, i))
        
    n = len(values)
    p = sum(targets) / n
    node_criterion = criterion(p)
    
    best_criterion = node_criterion
    best_split = ""
    
    total_ones = sum(targets)
    
    for i in all_comb:
        chosen = targets[values.apply(lambda x: x in i)]
        
        ones = np.sum(chosen)
        p_left = ones / chosen.shape[0]
        p_right = (total_ones - ones) / (n - chosen.shape[0])
        
        split_criterion = chosen.shape[0]/n * criterion(p_left) + (n - chosen.shape[0]) / n * criterion(p_right)
        if split_criterion < best_criterion:
            best_criterion = split_criterion
            best_split = i

    
    return (list(best_split), best_criterion)

In [84]:
best_categorical_split(X_train['race'], y_train, entropy)

(['Asian-Pac-Islander', 'White'], 0.788699528513619)

In [85]:
best_categorical_split(X_train['sex'], y_train, gini_impurity)

(['Female'], 0.3492195955392974)

In [86]:
best_categorical_split(X_train['workclass'], y_train, gini_impurity)

(['Federal-gov', 'Self-emp-inc'], 0.3585372920471675)

# №2 Дерево решение

In [151]:
class NodeOfDT():
    def __init__(self, X, y, cat_cols, criterion, max_depth = 10, min_in_leaf = 1000,depth = 0):

        #Если лист
        if(X.shape[0] <= min_in_leaf or depth >= max_depth):
            self.is_leaf = True
            self.p = np.sum(y)/y.shape[0]
            print(depth, self.p, y.shape[0])
            return
        #Если не лист
        num_cols = [col for col in list(X.columns) if col not in cat_cols]
        num_bests = [[col, best_continious_split(X[col], y,criterion)] for col in num_cols]
        num_bests = [best for best in num_bests if not(best[1][0] is None)]
        cat_bests = [[col, best_categorical_split(X[col], y,criterion)] for col in cat_cols]
        cat_bests = [best for best in num_bests if not(best[1][0] == [])]
        bests = num_bests + cat_bests
        
        #Разбиений не осталось
        if(len(bests) <= 0):
            self.is_leaf = True
            self.p = np.sum(y)/y.shape[0]
            print(depth, self.p, y.shape[0])
            return
        
        best_col, best_split = min(num_bests + cat_bests, key=lambda i: i[1][1])
        
        if(best_col in cat_cols):
            if(len(X[best_col].unique()) - len(best_split[0]) <= 1):
                cat_cols.remove(best_col)
            mask = X[best_col].apply(lambda x: x in best_split[0])
        else:
            mask =  X[best_col] < best_split[0]
            
        col_mask = num_cols + cat_cols
        self.into_cond = NodeOfDT(X[col_mask][mask], y[mask], cat_cols[:], criterion,max_depth, min_in_leaf, depth + 1)
        self.outo_cond = NodeOfDT(X[col_mask][~mask], y[~mask], cat_cols[:], criterion,max_depth, min_in_leaf, depth + 1)
    def predict(self):
        pass

In [154]:
bt = NodeOfDT(X_train, y_train, cat_cols, gini_impurity, max_depth = 6, min_in_leaf = 1500)

C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])
C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])
C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])
C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])

6 0.00299311583358276 3341
6 0.03337041156840934 899
5 1.0 1

C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])
C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])

6 0.07442813246841926 2929
6 0.15419161676646706 668
5 0.40298507462686567 67

C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])
C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])
C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])

6 0.05450416351249054 1321
6 0.17812388113139993 5586

C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])

6 0.11974110032362459 309
6 0.3210286188303608 2411
4 0.6524590163934426 305

C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])

3 0.09699321047526673 1031

C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])
C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])
C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])

6 0.2996941896024465 654
6 0.4385423100679432 1619
6 0.3938223938223938 259
6 0.5948103792415169 1503
4 0.9240506329113924 316
1 0.9467110741049126 1201

C:\Users\sereg\AppData\Local\Temp\ipykernel_1416\1874681518.py:22: RuntimeWarning: invalid value encountered in long_scalars
  p_right = (total_ones - ones) / (n - chosen.shape[0])

In [ ]:
# Используя функции нахождения сплита, реализуйте свой класс MyDecisionTreeClassifier
# Для бинарной классификации, который может использовать в качестве критерия 
# gini impurity и entropy на выбор

class NodeOfTree():
    def __init__(self):
         

class MyDecisionTreeClassifier:
    def __init__(self, criterion=gini_impurity, max_leaves=None, min_samples_leaf=1):
        '''
        Конструктор класса
        criterion -- критерий может быть либо 'gini', либо 'entropy'
        max_leaves -- максимальное количество листо в дереве, если None -- то дерево не ограничено
        min_samples_leaf -- минимальное количество объектов в листе
        '''
        self.criterion = criterion
        self.max_leaves = max_leaves
        self.min_samples_leaf = min_samples_leaf
    
    def fit(X_train, y_train, cat_cols):
        '''
        Функция обучения -- рекурсивно проводит разбиения и выбирает наилучшее
        '''
        num_cols = [col for col in list(X_train.columns) if col not in cat_cols]
        print(num_cols)
        
        pass
    
    def predict(X):
        '''
        Функция предсказания класса, для каждого наблюдения проходит по дереву, пока не попадёт в лист
        В зависимости от листа, в который попало наблюдение делается предсказание (наиболее часто встречающийся класс)
        '''
        pass
    
    def predict_proba(X):
        '''
        Функция предсказания вероятности класса, для каждого наблюдения проходит по дереву, пока не попадёт в лист
        В зависимости от листа, в который попало наблюдение делается предсказание для каждого класса:
        Его доля в листе
        '''
        pass

In [ ]:
dt = MyDecisionTreeClassifier

In [ ]:
dt.fit(X_train, y_train, cat_cols)

# №3